h2, p{
    font-family: 'Mochiy Pop One', sans-serif;
    font-family: 'Saira', sans-serif;
}

body{
    background-color: aquamarine;
}

#header_div{
    background-color: antiquewhite;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    letter-spacing: 3px;
    font-size: 20px;
}

button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10px;
    width: fit-content;
    font-weight: bold;
    letter-spacing: 3px;
}

.copy_right_footer{
    background-color: blanchedalmond;
    width: 100%;
    font-size: 10px;
    text-shadow: 10px;
    line-height: 10px;
    position: fixed;
    bottom: 0;
}